<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>ido</title>
<link rel="stylesheet" type="text/css" href="__HOME_PUBLIC__css/css.css">
<link rel="stylesheet" type="text/css" href="__HOME_PUBLIC__css/media-queries.css">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta name="renderer" content="webkit">
</head>
<body>

<!--star_banner-->
<div class="i_banner row">
<div class="zoombg" style="background-image: url(__HOME_PUBLIC__images/i_banner/about.jpg);"></div>
</div>
<!--end_banner-->

<div class="header">
<div class="w_1200">
<div class="logo"><a href="index.html"><img src="__HOME_PUBLIC__images/logo.png" alt="ido"></a></div>
<!--end标志-->

<div class="tnav" id="slideNav">
<ul class="tnavlist">
    <li><a href="{:U('/home/index/index')}">Home</a></li>
    <li class="current_nav"><a href="{:U('/home/index/about')}">About</a></li>
    <li><a href="{:U('/home/index/product')}">Product</a></li>
    <li><a href="{:U('/home/index/contact')}">Contact</a></li>
</ul>
<i class="tavline" id="slideNavLine"></i>
</div>
<!--end导航-->

<!--star菜单按钮-->
<div class="nav_btn">
<i></i>
<i></i>
<i></i>
</div>
<!--end菜单按钮-->

</div>
<!--end宽度-->
</div>
<!--end头文件-->

<h4 class="w_1200 i_th blue_text">about ido</h4>

<div class="i_about w_1200">
<p>Aldo culture focused on providing innovative and high quality printing products in the  recent 15 years. The factory lies in Shenzhen City, GuangDong Province of China, there are good employment environment and perfect printing industry chain, there is such a production 
team which skilled and possesses the spirit of service that provide a strong protection for the high standards of production requirements. </p>

<p>We also has a design team which led by senior designers, the design is advancing all the time in order to meet the needs of more customers. </p>

<p>We are an ethical, friendly business, based on the principles of honesty and integrity, we are committed to improve ourselves and to be a trusted partner of customer. If you need more information, please contact the phone or email, we will be happy to provide you with support.</p>

<p>Welcome to our website! </p>
</div>
<!--end关于我们-->



<div class="cf2 footer">
<dl class="cf2 footer w_1200">
<dt class="l">Copyright &copy; IDO Sportwagen Hannover GmbH.</dt>
<dd class="r">Mail :  <a href="mailto:sales1@ido-wm.com">sales1@ido-wm.com</a><span class="m_l">Tel :  +86-755-27041321</span></dd>
</dl>
</div>
<!--end文件底-->



<script type="text/javascript" src="__HOME_PUBLIC__js/jquery-1.7.1.min.js"></script>



<script type="text/javascript" src="__HOME_PUBLIC__js/jquery.SuperSlide.2.1.2.js"></script>
<script type="text/javascript" src="__HOME_PUBLIC__js/tool.js"></script>


</body>
</html>
