<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>ido</title>
<link rel="stylesheet" type="text/css" href="__HOME_PUBLIC__css/css.css">
<link rel="stylesheet" type="text/css" href="__HOME_PUBLIC__css/media-queries.css">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta name="renderer" content="webkit">
</head>
<body>

<!--star_banner-->
<div class="i_banner row">
<div class="zoombg" style="background-image: url(__HOME_PUBLIC__images/i_banner/contact.jpg);"></div>
</div>
<!--end_banner-->

<div class="header">
<div class="w_1200">
<div class="logo"><a href="index.html"><img src="__HOME_PUBLIC__images/logo.png" alt="ido"></a></div>
<!--end标志-->

<div class="tnav" id="slideNav">
<ul class="tnavlist">
    <li><a href="{:U('/home/index/index')}">Home</a></li>
    <li><a href="{:U('/home/index/about')}">About</a></li>
    <li><a href="{:U('/home/index/product')}">Product</a></li>
    <li class="current_nav"><a href="{:U('/home/index/contact')}">Contact</a></li>
</ul>
<i class="tavline" id="slideNavLine"></i>
</div>
<!--end导航-->

<!--star菜单按钮-->
<div class="nav_btn">
<i></i>
<i></i>
<i></i>
</div>
<!--end菜单按钮-->

</div>
<!--end宽度-->
</div>
<!--end头文件-->



<div class="i_center w_1200 cf2">
<div class="l l_50">
<h4 class="i_th blue_text">contact</h4>
<ul class="l_contact">
<li class="cf2"><span class="round_r contact_a a_1"><em></em></span>
<div class="r_cell">The second floor of No. 9 in Chi Ling Road, Chi Ling tou Xin Er Cun,Longhua Dalang street, Shenzhen, Guangdong Pro., China 518109</div>
</li>

<li class="cf2"><span class="round_r contact_a a_2"><em></em></span>
<div class="r_cell">
<p>TEL：+86-755-27041321</p>
<p>FAX：+86-755-27041685</p>
<p>Mobile：+86-18370983269</p>
</div>
</li>

<li class="cf2 last"><span class="round_r contact_a a_3"><em></em></span>
<div class="r_cell"><a href="mailto:sales1@ido-wm.com">sales1@ido-wm.com</a></div>
</li>

<li class="cf2 last"><span class="round_r contact_a a_4"><em></em></span>
<div class="r_cell"><a href="###">aidualice</a></div>
</li>

</ul>
</div>
<!--end左边-->
<div class="r_cell">
<h4 class="i_th blue_text">Feedback</h4>
<form action="{:U('/home/index/contact')}" method="post">
<dl class="r_contact">
<dt><h6>My dear friends, welcome to IDO, if you want to discuss any topic about digital brand, contact with us, fragrance of coffee is ready for you...</h6>


<div class="input"><input type="text" class="fill_text" placeholder="Name" name="name"></div>
<div class="input"><input type="text" class="fill_text" placeholder="Email" name="email"></div>
<div class="input"><textarea class="textarea_text" placeholder="Write your comments here" name="content"></textarea></div>
</dt>
<dd><input type="submit" class="transition_a fill_btn" value="submit"></dd>
</dl>
</form>

</div>
<!--end右边-->
</div>
<!--end中间区域-->



<div class="cf2 footer">
<dl class="cf2 footer w_1200">
<dt class="l">Copyright &copy; IDO Sportwagen Hannover GmbH.</dt>
<dd class="r">Mail :  <a href="mailto:sales1@ido-wm.com">sales1@ido-wm.com</a><span class="m_l">Tel :  +86-755-27041321</span></dd>
</dl>
</div>
<!--end文件底-->
<style>
    .error {
        border-color: rgb(249, 36, 36);
        box-shadow: 2px 1px rgb(255, 119, 119);
    }
</style>



<script type="text/javascript" src="__HOME_PUBLIC__js/jquery-1.7.1.min.js"></script>



<script type="text/javascript" src="__HOME_PUBLIC__js/jquery.SuperSlide.2.1.2.js"></script>
<script type="text/javascript" src="__HOME_PUBLIC__js/tool.js"></script>


</body>
</html>
