/*加载字体*/
@font-face{font-family: 'HelveticaNeueLTStd-Cn';
src: url('../font/HelveticaNeueLTStd-Cn.otf');
/*src: url('../font/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
url('../font/proximanova-light-webfont.woff') format('woff'),
url('../font/proximanova-light-webfont.ttf') format('truetype'),
url('../font/proximanova-light-webfont.svg#SingleMaltaRegular') format('svg');*/
}

*{ margin:0; padding:0;}
body{ font-family: 'HelveticaNeueLTStd-Cn','Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB',Arial,sans-serif; font-size:100%; color:#333; line-height:1.6;}
h1{line-height:1.3em;}
a:hover img,img{ border:none;}
img{ vertical-align:top;}
ul{ list-style:none;}
input,button,select,textarea{outline:none;font-family: 'HelveticaNeueLTStd-Cn','Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB',Arial,sans-serif; font-size:16px;}
table input,table button,table select,table textarea{ vertical-align:middle;}
textarea{resize:none}
table{ border-collapse:collapse;}
a{ text-decoration:none; color:#333;}
a:hover{ text-decoration:none; color:#5dc2d0;}
/*-------------------------结束公用样式--------------------------*/
.cf { overflow:hidden; zoom:1;}
.cf2{zoom: 1;}
.cf2:after {content: ""; display: block;height: 0;clear: both;}
input.checlass{ margin:0 5px; margin-left:0;vertical-align:middle; _vertical-align:baseline;}
h1,h2,h3,h4,h5,h6{font-weight:400;}
/*-------------------------star首页的样式*/
body{ background:#efede8;}
.w_1200{ width:1200px; margin:0 auto;}
/*------------------star动画*/
.main_visual{height:640px;overflow:hidden;position:relative;}
.main_image{height:100%;overflow:hidden;position:relative;}
.main_image ul{width:9999px;height:100%;overflow:hidden;position:absolute;top:0;left:0;}
.main_image li{float:left;width:100%;height:100%;}
.main_image li span{display:block;width:100%;height:100%; /*background-attachment:fixed;*/background-repeat:no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover; background-position:center top;}
.main_image li a{display:block;width:100%;height:100%;}
.main_image li .img_1{ background-image:url(../images/banner/01.jpg);}
.main_image li .img_2{ background-image:url(../images/banner/02.jpg);}
.main_image li .img_3{ background-image:url(../images/banner/03.jpg);}
.main_image li .img_4{ background-image:url(../images/banner/04.jpg);}
/*动画数字*/
div.flicking_con{position:absolute;bottom:1.25em;left:0;z-index:15;width:100%;height:8px;margin:0 0 0 0px; text-align:center; width:50px\9; left:50%\9; margin-left:-25px\9;}
div.flicking_con a{ display:inline-block;width:8px;height:8px;padding:0;text-indent:-1000px; background-color:rgba(0,0,0,.4); border-radius:50%; margin:0 .1em; text-align:left;background:url(../images/icon/black_4.png) repeat\9;*background:url(../images/icon/black_4.png) repeat; display:block\9; float:left\9;}
div.flicking_con a.on{ background-color:#000;}
/*动画按钮*/
#btn_prev,#btn_next{z-index:11;position:absolute;display:block;width:26px!important;height:40px!important;top:50%;margin-top:-20px;display:none;}
#btn_prev,{ background:url(../images/icon/btn.png) no-repeat left -40px;left:-26px;}
#btn_next{background:url(../images/icon/btn.png) no-repeat right -40px;right:-26px;}
.main_visual:hover #btn_prev{ left:0;}
.main_visual:hover #btn_next{ right:0;}
/*-------------star头文件*/
.header{ z-index:77; background:rgba(0,0,0,.6); background:url(../images/icon/black_6.png) repeat\9;*background:url(../images/icon/black_6.png) repeat; height:6.25em; position:fixed; top:0; left:0; width:100%;}
/*标志*/
.logo{ float:left; padding:.3em 0 0 0;}

/*主导航*/
.tnav{ margin:3.125em 0 0 0; position: relative;float:right; text-transform:uppercase; color:#fff; line-height: 34px; height:34px; }
.tnavlist li{float: left; margin: 0 0 0 3em;}
.tnav a{padding: 0 1.8em;  color: #fff; position:relative; z-index:5;}
.tnav a:hover{ text-decoration:none;}
.tavline{position: absolute; bottom: 0px; left: 0px; width: 48px; height: 34px; line-height: 0; font-size: 0; background: #000;}

/*-----star菜单按钮*/
.nav_btn{ display:none; width:40px; height:40px; background:rgba(0,0,0,.4); position:absolute; right:1em; top:.6em; cursor:pointer; background:url(../images/icon/nav_btn.png) no-repeat center center\9;*background:url(../images/icon/nav_btn.png) no-repeat center center;}
.nav_btn i{ display:none\9; display:block; width:18px; height:2px; background:#fff; position:absolute; left:11px; transition:0.3s}
.nav_btn i:nth-child(1){ top:13px; -webkit-transform-origin:left bottom;transform-origin:left bottom;}
.nav_btn i:nth-child(2){ top:19px;}
.nav_btn i:nth-child(3){ top:25px; -webkit-transform-origin:left top; transform-origin:left top;}

.nav_btn.on i:nth-child(1){ -webkit-transform:rotate(40deg); transform:rotate(40deg);}
.nav_btn.on i:nth-child(2){ opacity:0}
.nav_btn.on i:nth-child(3){ -webkit-transform:rotate(-40deg);transform:rotate(-40deg);}

.nav_btn.on{ background:url(../images/icon/mune_x.png) no-repeat center center\9;*background:url(../images/icon/mune_x.png) no-repeat center center;}

/*-------------star首页_分类*/
.h_class { padding-bottom:1px; clear:both; margin:3em auto; padding-top:3em\9;}
.h_class li{ float:left; text-align:center; width:33.3%;}
.h_class .box{ position:relative; overflow:hidden; background:#000; margin:0 1em;}
.h_class img{ max-width:100%;  width:100%\9;opacity:.7;filter:alpha(opacity= 70)\9;}
.h_class h4{ z-index:10; font-size:2.5em;font-size:2.1em\9;font-size:2.1em\0; line-height:1.08em; text-transform:uppercase; position:absolute; top:1.5em; width:100%; text-align:center; left:0;}
.h_class .btn{ z-index:10; position:absolute; bottom:1em; left:0; width:100%; text-align:center;}
.h_class li:hover img{ opacity:.9;filter:alpha(opacity= 90)\9;}
.h_class li:hover h4{ color:#fff;}

/*按钮*/
.more_btn { color:#fff; line-height:2.25em; border:2px solid #fff; position:relative; overflow:hidden; display:inline-block; padding:0 1.1em; background-color:transparent; cursor:pointer;}
.more_btn span{ position:relative; z-index:6;}
.more_btn:before,.more_btn:after { content: ""; background-color: #5dc2d0; width: 0; height: 100%; z-index:1; position: absolute; top: 0px;-webkit-transition: all 0.25s;transition: all 0.25s;}
.more_btn:before{ left:0;}
.more_btn:after{ right:0;}
.more_btn:hover{ color:#fff;}
.more_btn:hover:after,.more_btn:hover:before,li:hover .more_btn:after,li:hover .more_btn:before{ width:55%;}


/*文件底*/
.footer{ margin-top:3em; font-size:13px; background:#000; font-size:13px; color:rgba(255,255,255,.5); color:#423f3f\9; *color:#423f3f;}
.footer a{color:rgba(255,255,255,.5); color:#423f3f\9; *color:#423f3f;}
.footer a:hover{ color:#fff; text-decoration:none;}
.footer .footer{ margin-top:0; padding:2em 0;}

/*--------------------star内页*/
.row{position: relative; overflow: hidden;}
.i_banner{ height:380px;}
/*大图片的自动放大缩小动画*/
.zoombg{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-position: 50% 0; background-repeat: no-repeat; animation:zoom1 15s linear 0s infinite;-webkit-animation:zoom1 15s linear 1s infinite; background-size:cover;}
@-webkit-keyframes zoom1{0%{-webkit-transform:scale(1);}50%{-webkit-transform:scale(1.1);}100%{-webkit-transform:scale(1);}}
@keyframes zoom1{0%{transform:scale(1);}50%{transform:scale(1.1);}100%{transform:scale(1);}}

/*标题*/
.i_th{ font-size:2.75em; text-transform:uppercase; margin:.5em auto;}

/*关于我们*/
.i_about{ margin:2em auto 6em auto;}
.i_about p{ margin:1em 0;}

/*联系我们*/
.i_center{ margin:0 auto 6em auto;}
.l_50{ width:49%; margin-right:5em;}

.l_contact,.r_contact h6{ font-size:1.125em;}
.l_contact li{ margin:1.5em 0;}
.l_contact .last .r_cell { padding-top:.8em;}

/*图标*/
.contact_a{ border:2px solid #000; background-color:transparent; overflow:hidden; width:40px; height:40px; padding:8px; float:left; margin-right:2em;}
.contact_a em{ background-repeat:no-repeat; background-image:url(../images/icon/contact.png); display:inline-block; width:100%; height:100%; overflow:hidden; background-size:cover;}
.a_2 em{ background-position:left -40px;}
.a_3 em{ background-position:left -80px;}
.a_4 em{ background-position:left -120px;}

/*填写框*/
.r_contact h6{ color:#999;}

.input{ margin:1.2em 0;}
.fill_text,.textarea_text{ background-color:transparent; border:1px solid #bcbcbc; font-size:1.125em; line-height:1em; padding:.7em 5%; width:90%;}
.textarea_text{ height:5em;}
.fill_text:hover,.textarea_text:hover,.fill_text:focus,.textarea_text:focus{ background-color:rgba(255,255,255,.5); background-color:#f4f4f4\9; *background-color:#f4f4f4;  border-color:#000; box-shadow:0 0 4px rgba(0,0,0,.2);}

.fill_btn{ font-size:1.125em; background:#000; color:#fff; cursor:pointer; line-height:2.2em; border:none; text-align:center; padding:0 2.5em; border:2px solid #000;}
.fill_btn:hover,.fill_btn:focus{ background-color:#fff; color:#000;}


/*产品中心*/
.white_bj{ background:#fff;}
.l_240{ width:20%;/* margin-right:2em;*/}

.r_940{ width:78%;}
.min_h_560{min-height:560px;min-height:560px\9;*+height:100%;_height:560px;}
.h_560{ height:560px;}



/*左导航*/
.pro_nav{ text-align:center; margin:4em 2em; font-size:1.125em;}
.pro_nav li{ text-transform:uppercase; line-height:2.125em; margin-bottom:3.5em;}
.pro_nav li a{ display:block;overflow:hidden; word-break:keep-all; white-space:nowrap;text-overflow:ellipsis;}
.pro_nav .active a{ background-color:#000; color:#fff;}

.r_w_box{ padding:1.5em 1em;}

/*标签导航*/
.pro_tab_nav{ text-transform:uppercase; font-size:.9375em; border-bottom:1px solid #ddd; border-top:1px solid #ddd; line-height:1.8em; padding:.5em 0;}
.pro_tab_nav dd a{ float:left; margin:0 .5em;margin:0 .2em\0;margin:0 .2em\9;*margin:0 .2em; padding:0 1em;padding:0 .7em\0;padding:0 .7em\9; *padding:0 .7em;}
.pro_tab_nav dd .tab_light{ color:#fff; background-color:#000;}

/*空*/
.null_box{ display:block; padding:8em 0; color:#999; text-align:center;}


/*---------------------star动画*/
.pro_flash{ max-height:460px; margin-top:1em; overflow:hidden; position:relative;}
.pro_flash .bd img{ width:100%;}

.pro_flash .hd{ position:absolute; width:100%; bottom:10px; left:0; text-align:center; font-size:0px;}
.pro_flash .hd li{ width:10px;height:10px; background:rgba(0,0,0,.5); border-radius:50%; cursor:pointer;display:inline-block;*display:inline;zoom:1;margin:0 4px; background:url(../images/icon/black_4.png) repeat\9;*background:url(../images/icon/black_4.png) repeat;}
.pro_flash .hd li.on{ background:#000;}

/*按钮*/
.pro_flash .btn{ width:26px; cursor:pointer; position:absolute; top:50%; margin-top:-20px; height:40px; overflow:hidden; background-image:url(../images/icon/btn.png);}
.pro_flash:hover .btn_l{ left:0;}
.pro_flash:hover .btn_r{ right:0;}
.pro_flash .btn_l{ left:-26px; background-position:left -40px;}
.pro_flash .btn_r{ right:-26px; background-position:right -40px;}


/*-----------------------------------star文字的样式*/
/*标题文字*/
.th{ font-family:"Microsoft YaHei";}
/*日期*/
.date{ float:right; color:#999; font-family:Arial;font-weight:normal;}
/*左右对齐*/
.l{ float:left;}
.r{ float:right;}
/*宋体*/
.china{ font-family:"宋体";}
.eng{font-family:Arial;}

.blue_text,.blue_link a{ color:#5dc2d0;}

/*自适应*/
.r_cell{ display:table-cell; width:9999px; *width:auto; *zoom:1;}
/*自定义动画*/
#btn_prev,#btn_next,.transition_a{ -moz-transition:all .3s;-webkit-transition:all .3s;transition:all .3s;}

/*---------------------------star滤镜的样式*/
/*圆角*/
.round_r{ -moz-border-radius:50%; -webkit-border-radius:50%; border-radius:50%;}
/*链接文件*/
.round_r{position:relative\9;behavior: url(js/pie.htc);}





